@charset "UTF-8";
@font-face {
    font-family: 'Sriracha';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sriracha/v16/0nkrC9D4IuYBgWcI9NbLTwHSoQ.woff2) format('woff2');
    unicode-range: U +02D7, U +0303, U +0331, U +0E01 -0E5B, U +200C -200D, U +25CC;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
body{
    background-color: darkgray;
    min-width: 100vh;
    font-family: var(--fonte1) ;
    
}
header{
    background-color: black;
    font-family: var(--fonte1);
    color: white;
    text-align: center;
    
}
header a,footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    color: black;
}
.imagem{

    
}
#img01{
    background-image: url(imagens/background001.jpg);
}
#img02{
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: black;
    font-family: var(--fonte2);
    color: white;
    text-align: center;
}